*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.n1 img{
    height: 70px;
    cursor: pointer;
}
.n2{
    display: flex;
    align-items: center;
    gap: 40px;
}
.n2 h4{
    font-family: montserrat;
    font-size: 16px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.n2 h4:hover{
    color: #FAA432;
}
.n3{
    display: flex;
    align-items: center;
    gap: 30px;
}
.n3 i{
    font-size: 27px;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.n3 i:hover{
    background-color: #0D9B4D;
    color: #fff;
}
.page1{
    height: calc(100% - 100px);
    width: 100%;
    position: relative;
}
.header{
    height: 200px;
    width: 100%;
    text-align: center;
}
.header h3{
    color: #FAA432;
    margin-bottom: 10px;
}
.header h1{
    font-size: 45px;
    margin-bottom: 17px;
}
.header button{
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    background-color: #FAA432;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.5s;
    position: relative;
    z-index: 99;
}
.header button:hover{
    background-color: #0D9B4D;
}
.page1 img{
    height: 63%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
}
.box{
    height: 300px;
    width: 390px;
    position: absolute;
    left: 36%;
    top: 44%;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.b1{
    height: 310px;
    width: 164px;
    margin-top: 20px;
}
.b1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.b2{
    height: 330px;
    width: 270px;
    position: absolute;
    top: 39%;
    left: 80%;
}
.b2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.b3{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    position: absolute;
    top: 62%;
    left: 8%;
}
.b3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}




