*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
#nav h4{
    font-family: serif;
    font-size: 18px;
}
#prt2{
    display: flex;
    align-items: center;
    gap: 60px;
}
#prt2 h5{
    font-size: 15px;
}
#prt3{
    display: flex;
    align-items: center;
    gap: 30px;
}
#prt3 i{
    font-size: 19px;
}
#center{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    background-color: #E2D2C2;
}
#left{
    height: 100%;
    width: 50%;
    padding-top: 80px;
    padding-left: 60px;
}
#left h1{
    font-family: serif;
    font-size: 90px;
    margin-bottom: 20px;
}
#left p{
    font-size: 17px;
    margin-bottom: 30px;
}
button{
    padding: 10px 30px;
    border: none;
    background-color: #2C2E2D;
    color: #fff;
    border-radius: 10px;
}
#right{
    height: 100%;
    width: 50%;
    overflow: hidden;
}
#right img{
    height: 100%;
}