*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
span{
    color: #F07599;
    font-size: 13px;
}
h3{
    font-size: 14px;
    line-height: 14px;
}
#prt2{
    display: flex;
    align-items: center;
    gap: 40px; 
}
button{
    padding: 10px 20px;
    border: 1px solid #F07599;
    color: #F07599;
    letter-spacing: 1px;
}
#page{
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
}
#left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    position: absolute;
    top: 20%;
    z-index: 999;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
}
#line{
    height: 8px;
    width: 30px;
    background-color: #F07599;
    margin-bottom: 20px;
}
#left button{
    background-color: #F07599;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
}
#left h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
#right{
    height: 100%;
    width: 50%;
    background-color: #F07599;
    overflow: hidden;
}
#right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}